flask
pymongo
pinecone
sentence-transformers
faiss-cpu
transformers
datasets
pysbd
python-dotenv
pdfplumber
nltk
tqdm
gunicorn
streamlit
sentence-transformers==2.2.2
PyPDF2
python-dotenv
tqdm
torch>=2.1.0
numpy<2
PyPDF2
huggingface-hub==0.16.4
